body {
  background: #121212;
  /* Dark background */
  color: #ffffff;
  /* White foreground */
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffefe;
  /* Light gray heading */
}

.bg-steel {
  background-color: #1f2937;
  /* Dark blue-gray background */
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  /* Light blue-gray text */
}

.site-header .navbar-nav .nav-link:hover {
  color: #1554c0;
  /* White text on hover */
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #1e1e1e;
  /* Dark gray background */
  color: #ffffff;
  /* White text */
  padding: 10px 20px;
  border: 1px solid #333333;
  /* Dark border */
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #f5f0f0;
  /* Light gray article title */
}

a.article-title:hover {
  color: #64a8e0;
  /* Light blue link color on hover */
  text-decoration: none;
}

.article-content {
  background-color: #1f2937;
  white-space: pre-line;
  padding: 10px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #555555;
  /* Dark border */
}

.article-metadata a:hover {
  color: #ffffff;
  /* White text on hover */
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}